
#div_layout{
	width: 100%;
	height: 100%;
	
}
#div_header {
	width: 100%;
	height: 60px;
	overflow: hidden;
	float:left;
	display:block;
	/* background-color: #2E3F51; */
	background-color: #545F78;
}
#div_top {
	width: 100%;
	height: 3px;
	overflow: hidden;
	float:left;
	display:block;
	background-color: #7598AE;
}
#div_middle {
	width: 100%;
	height: 803px;
	overflow: hidden;
	border-bottom: 1px solid #7598AE;
}
#div_left {
	width:38%;
	overflow-y: hidden;
	float:left;
	display:block;
	background-color: #ececec;
}


#div_left #div_leftArea1{
	width: 99%;
	height: 200px;
	border-right: 1px solid black;
	
}

#div_left #div_leftArea1 #div_login{
	width: 268px;
	height: 100%;
	float: right;
	background-color: white;
}

#div_left #div_leftArea1 h2{
	margin-top: 15px;
	padding-left : 10px;
	border-bottom: 3px solid #cccccc;
}

#div_left #div_leftArea1 #input_loginId{
	margin-top: 5px;
}

#div_left #div_leftArea1 #input_loginPw{
		
}

#div_left #div_leftArea1 #input_loginId,#input_loginPw{
	margin-bottom: 3px; 
	margin-left: 4px;
	border: 1px solid #cccccc;
	width: 260px;
	height: 35px;
	padding-left: 10px;
}

#div_left #div_leftArea2{
	width: 99%;
	height: 603px;
	border-right: 1px solid black;
}
#div_left #div_leftArea2 #ul_leftMenu{
	width: 268px;
	height: 100%;
	float: right;
	background-color: #545F78; 
	/* background: url("/resources/images/bg/bg_bass.png") 0 0 repeat; */
}
#div_left #div_leftArea2 #ul_leftMenu li{
	height: 37px;
	margin-bottom: 2px;
	padding-left: 10px;
	line-height: 40px;
	cursor: pointer;
	border-bottom: 2px solid white;
}
/* 
#div_left #div_leftArea2 #ul_leftMenu li:HOVER{
	border-bottom: 1px solid #FAE100;	
}

#div_left #div_leftArea2 #ul_leftMenu li:HOVER span{
	font-size:  15px;
	color: #FAE100;
} */

#div_left #div_leftArea2 #ul_leftMenu li span{
	color: white;
	font-size: 14px;
	font-weight: bolder;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	font-family: "나눔고딕코딩";
}

#div_left #div_leftArea2 #ul_leftMenu li:FIRST-CHILD{
	margin-top: 2px;
}

#div_left #div_leftArea2 #ul_leftMenu li:nth-child(3n+1):HOVER{
	border-bottom: 2px solid #FFED4C;	
}
#div_left #div_leftArea2 #ul_leftMenu li:nth-child(3n+1):HOVER span{
	font-size:  15px;
	color: #FFED4C;
}
#div_left #div_leftArea2 #ul_leftMenu li:nth-child(3n+2):HOVER{
	border-bottom: 2px solid #97D643;	
}
#div_left #div_leftArea2 #ul_leftMenu li:nth-child(3n+2):HOVER span{
	font-size:  15px;
	color: #97D643;
}
#div_left #div_leftArea2 #ul_leftMenu li:nth-child(3n+3):HOVER{
	border-bottom: 2px solid #27B7F2;	
}
#div_left #div_leftArea2 #ul_leftMenu li:nth-child(3n+3):HOVER span{
	font-size:  15px;
	color: #27B7F2;
}

/* 
#div_left #div_leftArea2 #ul_leftMenu li:nth-child(6n+1){
	background-color: #4597CF; 
}
#div_left #div_leftArea2 #ul_leftMenu li:nth-child(6n+2){
	background-color: #15A187;
}
#div_left #div_leftArea2 #ul_leftMenu li:nth-child(6n+3){
	background-color: #61BA80; 
}
#div_left #div_leftArea2 #ul_leftMenu li:nth-child(6n+4){
	background-color: #EEC418; 
}
#div_left #div_leftArea2 #ul_leftMenu li:nth-child(6n+5){
	background-color: #E2822C; 
}
#div_left #div_leftArea2 #ul_leftMenu li:nth-child(6n+6){
	background-color: #E94C39; 	
}
 */

#div_body {
	width:62%;
	height: 803px;
	overflow-y: hidden;
	float:left;
	display:block;
	background-color: #ececec;
}
#div_footer {
	width: 100%;
	height: 95px;
	overflow: hidden;
	float:left;
	display:block;
}